
.navbar-brand .rounded-circle {
    width: 300px; 
    height: 100px; 
    border-radius: 100%; /* Hace la imagen redonda */
    border: 2px solid #fff; /* Crea un borde blanco */
    box-shadow: 0px 0px 10px rgba(248, 248, 247, 0.4); /* Agrega una sombra */
    object-fit: cover; /* Evita que la imagen se distorsione */
  }


.navbar-nav .nav-item .nav-link {
    font-weight: bold;
    color: rgb(228, 222, 222);
    text-decoration: ;
    text-shadow: 1px 1px 2px rgba(131, 128, 128, 0.3); /* Sombra suave */
    margin: 0 15px;
}
.navbar-nav .nav-item .nav-link:hover {
  color: #a7ca0a;
}

.display-4 {
    color: white;
    font-family: 'Arial', sans-serif;
}

.lead {
    color: white;
    font-family: 'Verdana', sans-serif;
}

h2 {
    color: white;
    font-family: 'Georgia', serif;
}

.navbar-brand, .navbar-text {
    padding-top: 15px; 
  }

.estilo-boton {
  background-color: rgb(71, 59, 104);
  margin-top: -20px;
  text-decoration: none;
  border-radius: 10px;
  color: rgb(253, 249, 249);
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  border-color: whitesmoke;
}

.estilo-boton:hover {
  background-color: #8683a5;
  color:black;
}
  

.contenedor-categorias { /* Un contenedor para los elementos */
    display: flex; /* Para usar flexbox */
    align-items: center; /* Para alinear verticalmente */
  }
  
.contenedor-categorias h5, .contenedor-categorias a {
    display: inline-block; /* Para que se muestren uno al lado del otro */
    margin-right: 15px; /* Espacio entre los elementos */
  }

.contenedor-categorias a {
    background-color: rgb(71, 59, 104);
    margin-top: -20px;
    text-decoration: none;
    border-radius: 10px;
    color: rgb(248, 245, 245);
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    border-color: whitesmoke;
  }
  
.contenedor-categorias a:hover {
    background-color: #8683a5;
    color:black;
  }

.container-fluid .container { /* Centra los elementos dentro de .container */
    text-align: left;
  }

.boton_post {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-left: 20px;
  font-weight: bold;
  }

  .boton-post {
    padding: 5px 10px;
    background-color: rgb(71, 59, 104);
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 10px;
    margin-left: 110px;
    font-weight: bold;
    border: 2px solid #007bff;
    transition: background-color 0.3s, border-color 0.3s; /* Transición suave */
    font-size: 15px;
}

.boton-post:hover {
    background-color: #5a5806; /* Color de fondo más oscuro al pasar el cursor */
    border-color: #0056b3; /* Color de borde diferente al pasar el cursor */
    cursor: pointer; /* Cambiar el cursor a una mano */
}



  


